a
a.*
a.dYSM/
b
b.*
b.dYSM/
c
c.*
c.dYSM/
g
g.*
g.dYSM/

*.dYSM/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.DS_Store
